<%- include("./partials/header") -%>
    <% if(locals.info) {%>
        <% info.forEach((pokemon, index)=> {%>
            <a href="/pn/<%= pokemon.id  %>">
                <div>
                    <h1><%= pokemon.name %></h1>
                    <hr>
                    <img src="<%= pokemon.sprite  %>" alt= "<%= pokemon.name %>">
                </div>
            </a>
        <%})  %>
    <%}  %>
    <div>
        <% for(var i=0; i<(Math.ceil(1302/tamPerPage)); i++) {%>
            <a href="/pokedex/<%= i  %>"><%= i+1 %></a>
            <%}  %>
    </div>
    
<%- include("./partials/footer") -%>